* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h5 {
    font-size: 18px;
    line-height: 26px;
}

p {
    font-size: 18px;
    line-height: 26px;
}

button {
    padding: 7px 14px;
    border: none;
    border-radius: 40px;
}

.padding-top-bottom-50 {
    padding: 500px 0;
}

.padding-top-bottom-20 {
    padding: 20px 0;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-right-100 {
    padding-right: 100px;
}

.margin-top-40 {
    margin-top: 40px;
}

img {
    max-width: 100%;
    width: 100%;
}

/* Header */

header {
    width: 100%;
    min-height: 70px;
    background-color: #3161e0;
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
}

.nav-header {
    list-style-type: none;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: auto;
    max-width: 100%;
}

.col-sm-left {
    display: flex;
    align-items: center;
}

.justify-content-left {
    display: flex;
    justify-content: flex-end;
}

.accedi {
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

.contenuto {
    width: 100%;
}

.vertical-align-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange {
    background: orange;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.col-sm {
    width: 25%;
    height: 35px;
}

.col-big {
    width: 50%;
    height: 35px;
}

/* Main */

.col-full {
    width: 100%;
}

.container-full {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0;
}

/* Sezione 1 */

.container-bg1 {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding: 100px 250px;
}

.contenuto-sez-1, .contenuto-sez-5 {
    text-align: center;
}

.contenuto-sez-1 h1 {
    color: #fff;
    padding-bottom: 40px;
}

.contenuto-sez-1 p {
    color: #fff;
}

.contenuto-sez-1 button {
    font-size: 18px;
    padding: 15px 25px;
}

.contenuto-sez-1 .btn-1 {
    margin-right: 20px;
}

.contenuto-sez-1 .btn-2 {
    margin-left: 20px;
    background-color: #23272a;
    color: #fff;
}

/* Sezione 2 */

.container-bg2 {
    background-color: white;
    padding: 100px 0;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

/* Sezione 3 */

.container-bg3, .container-bg5 {
    background-color: #f6f6f6;
    padding: 100px 0;
}  

/* Sezione 4 */

  .container-bg4 {
    background-color: #fff;
    padding: 100px 0;
  }

/* Sezione 5 */

.sfondo-stelle {
    width: 55%;
    margin: 0 auto;
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
}

.btn-3 {
    margin: 20px 0;
    font-size: 18px;
    color: #fff;
    padding: 20px 40px;
    background-color: #8ea1e1;
}

/* Footer */

.col-15 {
    width: 15%;
}

.nav-footer {
    list-style-type: none;
}

footer h5 {
    color:#8ea1e1;
}

footer li {
    color:#fff; 
    padding: 5px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}


.row-footer {
    padding-bottom: 40px;
    border-bottom: 1px solid #8ea1e1
}

.viola {
    color:#8ea1e1;
}

.container-bg-footer {
    background-color: #23272a;
    padding: 100px 0;
}

.btn {
    width: 10%;
}

.row-inner {
    display: flex;
    flex-direction: column;
}

.contenuto-inner-1 {
    width: 30%;
    display: flex;
    align-items: center;
    color: #fff;
}

.img-italia {
    max-width: 20%;
    margin-right: 5px;
}

.contenuto-inner-2 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 12%;
    filter: brightness(100);
}